.login-page {
  display: flex; 
  align-items: center; 
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.398)), url('/login-bg.jpg') center;
}

/* Neon cat image */
.login-page::after {
  content: "";
  position: absolute;
  bottom: 20px;   /* adjust spacing */
  right: 20px;
  width: 300px;   /* adjust size of the cat */
  height: 300px;
  opacity: 0.9;   /* slight transparency if you want */
  pointer-events: none; /* so clicks pass through */
}

.login-card {
  color: #fff;
  text-align: center;
  font: bold 1.5rem sans-serif;
  width: 600px;
  padding: 22px;
  height: 300px;
  border-radius: 14px;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  
  /* Shadow for depth */
  box-shadow: 0 12px 28px rgba(0,0,0,0.55);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.google-btn {
  background: #4b18e5; 
  color: #fff; 
  padding: 12px 20px;
  border: none; 
  border-radius: 10px; 
  width: 90%;
  font-size: 1rem; 
  cursor: pointer; 
  transition: 0.25s;
}
.google-btn:hover { background: #3c8249; }
